In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
#store the csv from weather analysis into a dataframe
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-04-02 21:26:17,-54.8000,-68.3000,51.8,62,75,16.11
1,1,Tuktoyaktuk,CA,2021-04-02 21:26:17,69.4541,-133.0374,-14.8,70,75,6.91
2,2,Bredasdorp,ZA,2021-04-02 21:21:27,-34.5322,20.0403,50.0,93,32,4.61
3,3,Cape Town,ZA,2021-04-02 21:26:18,-33.9258,18.4232,64.0,67,0,6.91
4,4,Tumpat,MY,2021-04-02 21:26:18,6.1978,102.1710,75.2,94,20,3.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to your google api key
gmaps.configure(api_key=g_key)

In [5]:
#get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
#create heatmap of temperatures
#get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#get the maximum temperature
max_temp = city_data_df["Max Temp"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#create heatmap of humidity
#get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#get the maximum temperature
humidity = city_data_df["Humidity"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#create heatmap of cloudiness
#get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#get the maximum temperature
clouds = city_data_df["Cloudiness"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#create heatmap of wind speed
#get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#get the maximum temperature
wind = city_data_df["Wind Speed"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#ask customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
#filter dataframe to fit criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Tumpat,MY,2021-04-02 21:26:18,6.1978,102.1710,75.20,94,20,3.36
7,7,Bambous Virieux,MU,2021-04-02 21:26:19,-20.3428,57.7575,77.00,100,40,3.44
8,8,Faanui,PF,2021-04-02 21:26:19,-16.4833,-151.7500,81.45,70,0,2.17
9,9,Rikitea,PF,2021-04-02 21:26:19,-23.1203,-134.9692,77.05,78,99,11.48
12,12,Sinnamary,GF,2021-04-02 21:26:20,5.3833,-52.9500,75.38,93,100,9.40
13,13,Novo Aripuana,BR,2021-04-02 21:26:20,-5.1206,-60.3797,81.25,81,54,4.18
14,14,Vaini,TO,2021-04-02 21:26:21,-21.2000,-175.2000,80.60,89,75,3.44
15,15,Arraial Do Cabo,BR,2021-04-02 21:26:21,-22.9661,-42.0278,77.00,83,20,11.50
16,16,Isangel,VU,2021-04-02 21:26:21,-19.5500,169.2667,81.09,81,87,7.05
19,19,Floresta,BR,2021-04-02 21:26:22,-8.6011,-38.5686,89.80,26,18,3.40

In [17]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [18]:
#create dataframe called hotel df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4            Tumpat      MY     75.20   6.1978  102.1710
7   Bambous Virieux      MU     77.00 -20.3428   57.7575
8            Faanui      PF     81.45 -16.4833 -151.7500
9           Rikitea      PF     77.05 -23.1203 -134.9692
12        Sinnamary      GF     75.38   5.3833  -52.9500
13    Novo Aripuana      BR     81.25  -5.1206  -60.3797
14            Vaini      TO     80.60 -21.2000 -175.2000
15  Arraial Do Cabo      BR     77.00 -22.9661  -42.0278
16          Isangel      VU     81.09 -19.5500  169.2667
19         Floresta      BR     89.80  -8.6011  -38.5686

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Tumpat,MY,75.20,6.1978,102.1710,Baan Tanyong B&B
7,Bambous Virieux,MU,77.00,-20.3428,57.7575,Casa Tia Villa
8,Faanui,PF,81.45,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Rikitea,PF,77.05,-23.1203,-134.9692,Pension Maro'i
12,Sinnamary,GF,75.38,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
13,Novo Aripuana,BR,81.25,-5.1206,-60.3797,Hotel Ezequiel
14,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
15,Arraial Do Cabo,BR,77.00,-22.9661,-42.0278,Pousada Porto Praia
16,Isangel,VU,81.09,-19.5500,169.2667,Volcano Sea View Tree House
19,Floresta,BR,89.80,-8.6011,-38.5686,Hotel Floresta

In [28]:
#create heatmap of temperatures for hotels
#get the latitude and longitude
locations = hotel_df[["Lat", "Lng"]]

#get the maximum temperature
max_temp = hotel_df["Max Temp"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
#add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
#for adding popup markers to display hotel name, city name, country, and maximum temperature - add info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
#create heatmap of temperatures for hotels with markers
#get the latitude and longitude
locations = hotel_df[["Lat", "Lng"]]

#get the maximum temperature
max_temp = hotel_df["Max Temp"]

#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))